@import '../../scss/variables.scss'; 

.healthy-rest__inner{
	width: 100%;
	
	text-align: center;
	background: url(block/../../img/hrbg.jpg)no-repeat center top;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	border:2px solid red;
	
}
.healthy-rest{
	width: 100%;
	
	}
/*.healthy-rest__inner{
	border:2px solid green;
	margin-top: 100px;
	width: 100%;
	height: 150px;
}*/

.sm__inner{
	border:2px solid blue;
	margin: 100px 0;
	/*padding: 0 70px;
	width: 100%;*/
}
.healthy__wrap{
	
	margin: 0 auto;
	border:2px solid black;
	
	}
	.healthy__descr{
		text-align: center;
		padding-top: 30px;
	}
	
.healthy__wrap--bass{
	width: 80px;
	height: 80px;
	
	border-radius:50%;
	background: url(block/../../img/h1.jpg)no-repeat center;
	border:2px solid red;
}


.healthy__wrap--sppl{

	width: 80px;
	height: 80px;
	border-radius:50%;
	background: url(block/../../img/h2.jpg)no-repeat center;
 }
 .healthy__wrap--bil{
 	width: 80px;
	height: 80px;
	border-radius:50%;
	background: url(block/../../img/h3.jpg)no-repeat center;
 }
 .healthy__wrap--spa{
 	width: 80px;
	height: 80px;
	border-radius:50%;
	background: url(block/../../img/h4.jpg)no-repeat center;
 }
.healthy__wrap--bani{
	width: 80px;
	height: 80px;
	border-radius:50%;
	background: url(block/../../img/h5.jpg)no-repeat center;
	
}
.healthy__wrap--anim{
	width: 80px;
	height: 80px;
	border-radius:50%;
	background: url(../img/h6.jpg)no-repeat center;
	
}
.healthy__descr{
	border:2px solid magenta;
}
.col-sm-2{
	border:2px solid green;
}
.large-img{
	width: 100%;
	height: 500px;
	background: url(../img/l1.jpg)no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	border:2px solid red;
	
}
.large-img2{
	width: 100%;
	height: 500px;
	background: url(../img/l2.jpg)no-repeat center center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	border:2px solid red;
	display: none;
}
.large-img3{
	width: 100%;
	height: 500px;
	background: url(../img/l3.jpg)no-repeat center center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	border:2px solid red;
	display: none;
}
.smallimg-wrap{
	overflow: hidden;
}

.descr-Flagman{
	background-color: #222;
	color: #FFF;
	
}

.descr__title-h3{
	font-size: 20px;
	padding: 27px 0;
	padding-left: 13px;
	
}

.tw{
	position: absolute;
	top:80%;
	left: 50px;
	
	color:red;
}
.f-container{
	display: table;
	width: 100%;
	
	text-align: center;
	
}

.f-title{
	display: table-cell;
	vertical-align: middle;
	background-color: #222;
	color: #FFF;
	
}
.f-descr{
	display: table-cell;
	
	background-color: #222;
	color: #FFF;
	}

.f-but{
	display: table-cell;
	vertical-align: middle;
	background-color: $sotial_color;
	color: olive;
	&:hover{
		background-color: #fbe9e1;
	}
}
.descr__descr-p{
	padding: 20px 0;
}
.descr__but{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	background-color:$sotial_color;
	padding: 30px 13px;	
	color: olive;

&:hover{
	background-color: #fbe9e1;
}
}
.Flagman2,.Flagman3{
	display: none;
}

@media only screen and (max-width : 780px) {

	.healthy__descr{
		margin-bottom: 50px;
	}
}






