@import '../../scss/variables.scss'; 

.main-header{
	padding-top: 50px;
}

	.btn{
		font-size: 13px;
		/*  padding:17px 22px 17px 48px;*/
		
		height:40px;
		background-color: $color;
		color: #FFF;
		display: inline-block;
		padding-top: 10px;
		padding-left: 48px;
		padding-right: 20px;
		position: relative;
		 @include radius;
	}
.main-header__tel{
	display: inline-block;
	font-size: 18px;
	letter-spacing: 2px;
	
	
}
.main-header__adress{
	font-size: 14px;
	font-family: Fira Sana, san-serif;
}
.fa-calendar-o{
	display: inline-block;
	
	font-size: 20px;
	position: absolute;
	top:10px;
	left:15px;
}
.main-nav__link {
	color:#222;
	&:hover{
		color:$color;
		-webkit-transition: all .5s ease;
		   -moz-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		     -o-transition: all .5s ease;
		        transition: all .5s ease;
	}
	}
.main-nav__link--aktive{
	color:$color;
	
}

	
