 


$color:#ff7435;
$sotial_color:#0ab89d;
$gray:#fafafa;

@mixin radius{
	border-radius:20px;
	}
@mixin centr{
	text-align:center;
}
@mixin forbtn{
	font-size: 13px;
	height:40px;
	background-color: $color;
	color: #FFF;
	display: inline-block;
	padding-top: 10px;
	padding-left: 48px;
	padding-right: 20px;
	position: relative;
}
@mixin hid{
	display: none;
}
@mixin aft{
	content:'';
	display: block;
	position: absolute;
	width: 100px;
	height: 3px;
	background-color:$color;
	top:40px;
	left:50%;
	margin-left: -50px;
}