.slid {
  width: 960px;
  height: 430px;
  border: 2px solid red;
}

.vacation__for-family {
  background: url(../img/sl-top.jpg) no-repeat center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
